body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

h1 {
    position: center;
    z-index: 2;
}

.logo {
    position: center;
    bottom: 0;
    width: 11%;
    
    padding-left: 100px;
    
    transform: translateX(-50%);
    z-index: 1;
}

nav {
    background-color: #eee;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search {
    float: left;
    padding: 15px;
}

.login-btn, .signup-btn {
    float: right;
    padding: 15px 20px; /* Adjusted padding for equal sizes */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #FF0000;
}
nav a:not(:last-child) {
    margin-right: 10px;
}

/* Hình ảnh có thể nhấp vào */
.clickable-image {
    width: 100%; /* Đảm bảo chiều ngang của hình ảnh bằng với chiều ngang của trang web */
    cursor: pointer;
}

.scrollable-content {
    height: 40px;
}
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-info {
    margin-top: 10px;
}

.installment {
    font-style: italic;
    color: #4CAF50; /* Green color for installment text */
}

.view-all {
    text-align: center;
    margin-top: 20px;
}

.view-all a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
 /* Định dạng container của Swiper */
 .swiper-container {
    width: 100%;
    height: 100%;
}

/* Định dạng phần tử con (swiper-slide) */
.swiper-slide {
    text-align: center;
}

/* Định dạng chữ mô tả */
.caption {
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0.5px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5); /* Đặt màu nền và độ trong suốt */
    padding: 10px; /* Thêm padding để làm đẹp hơn */
    border-radius: 5px; /* Bo tròn góc */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}